@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
	font-size: 100%;
	font-family: "Hiragino Sans", "Meiryo";
	line-height: 1.7;
	color: #432;
	background-color: #FFFFE7;
}

a {
	text-decoration: none;
}

img {
	width: 40%;
}

/* レイアウト */
.page-header,
.profile,
.skills,
.works,
.contact {
	text-align: center;
}

.page-header {
	font-size: 25px;
}

.wrapper {
	max-width: 1120px;  /* 最大幅の指定 */
	width: 70%;
	margin: 0 auto;   /* 要素の外側の余白(ボックスを画面中央にする) */
	
}

.wrapper h1 {
	margin-top: 8rem;
	font-size: 40px;
}

.wrapper h2 {
	margin-top: 3rem;
}

form {
	display: inline-block;
	margin: 0 0 0 120px;
	align-items: center;
}

form label {
	display: inline-block;
    text-align: right;
    width: 150px;
	vertical-align: top;
}

input,
textarea {
	width: 400px;
	background-color: #FFFFE9;
	border-width: 0.5px;
}

textarea {
	resize: vertical;
    height: 120px;
}

button {
	width: 80px;
	margin: 0 0 0 160px;
}

.hobby_photo {
	display: flex;
	gap: 5rem;
}

/* ヘッダー */
.page-header {
	padding-top: .5rem;
	font-family: "Hiragino Sans", "Meiryo";
	font-weight: normal;
	line-height: 1.5;
	height: 500px;
}

.page-header h1 {
	text-align: center;
	padding-top: 250px;
}

/* ヘッダーカバー画像
------------------------------- */
.cover {
	background-size: cover;
	background-position: center bottom;
	margin-bottom: 4rem;
	background-image: url(images/leaves.webp);
}

/* フッター*/
.page-footer {
	background-size: cover;  /* 画面いっぱいの指定 */
	background-position: center;
	padding-top: 15rem;
	margin: auto;
}

.page-footer th,
.page-footer td {
	border-bottom: 2px solid #cccc99;
	text-align: left;
	padding: 15px 0;
}

.page-footer th {
	font-weight: normal;
	width: 200px;
}

.page-footer h2 {
	font-size: 35px;
}

.info {
	margin:auto;
}

.copyright {
	background-color: #432;
	text-align: center;
	padding: 2rem 0;
	margin-top: 6rem;
	color: #fff;
}

/* デスクトップ版 */
@media (min-width: 800px) {

	/* ヘッダー */
	.page-header {
		padding-top: .5rem;
		font-family: "Hiragino Sans", "Meiryo";
		font-weight: normal;
		line-height: 1.5;
		height: 500px;
	}
	
	.page-header h1 {
		text-align: center;
	}

	/* ヘッダーカバー画像 */
	.cover {
		background-size: cover;
		background-position: center bottom;
		margin-bottom: 4rem;
		background-image: url(images/leaves.webp);
	}

	.page-footer {
		background-size: cover;/* 画面いっぱいの指定 */
		
		background-position: center;
		padding-top: 15rem;
		margin: auto;
	}

	.page-footer h2,
	.page-footer table{
		text-align: center;
	}

	.info {
		text-align: left;
		border-spacing: 0;
		margin:auto;
	}

	.info th,
	.info td {
		border-bottom: 2px solid #cccc99;
	}

	.copyright {
		background-color: #432;
		text-align: center;
		padding: 2rem 0;
		margin-top: 6rem;
		color: #fff;
	}
}
