@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
	font-size: 100%;
	font-family: "Hiragino Sans", "Meiryo";
	line-height: 1.7;
	color: #432;
}

a {
	text-decoration: none;
}

img {
	width: 40%;
}

/* レイアウト */
.page-header,
.profile,
.skills,
.works {
	text-align: center;	
}

.wrapper {
	max-width: 1120px;  /* 最大幅の指定 */
	margin: auto;  /* 要素の外側の余白(ボックスを画面中央にする) */
}

.wrapper h1 {
	margin-top: 8rem;
}

.wrapper h2 {
	margin-top: 3rem;
}

.hobby_photo {
	display: flex;
	gap: 2rem;
}

/* ヘッダー */
.page-header {
	padding-top: .5rem;
	font-family: "Hiragino Sans", "Meiryo";
	font-weight: normal;
	line-height: 1.5;
	height: 500px;
}

.page-header h1 {
	text-align: center;
	padding-top: 250px;
}

/* ヘッダーカバー画像
------------------------------- */
.cover {
	background-size: cover;
	background-position: center bottom;
	margin-bottom: 4rem;
	background-image: url(images/leaves.webp);
}

/* Contact */
/*.email {*/
/*	max-width: 916px;*/
/*	background-color: #faf7f0;*/
/*	border-radius: 48px;*/
/*	padding: 1.5rem 2.5rem 2.5rem;*/
/*	margin: 0 auto 2rem;*/
/*}*/

/*.email p {*/
/*	margin: 1rem 0 2rem;*/
/*}*/

/* フッター*/
.page-footer {
	background-size: cover;  /* 画面いっぱいの指定 */
	background-position: center;
	padding-top: 15rem;
	margin: auto;
}

.page-footer th,
.page-footer td {
	border-bottom: 2px solid #ccc;
	text-align: left;
	padding: 2rem 0;
}

.page-footer th {
	font-weight: normal;
	width: 200px;
}

.page-footer td {
	padding: 2rem 0;
}

.info {
	margin:auto;
}

.copyright {
	background-color: #432;
	text-align: center;
	padding: 2rem 0;
	margin-top: 6rem;
	color: #fff;
}

/* デスクトップ版 */
@media (min-width: 800px) {

	/* ヘッダー */
	.page-header {
		padding-top: .5rem;
		font-family: "Hiragino Sans", "Meiryo";
		font-weight: normal;
		line-height: 1.5;
		height: 500px;
	}
	
	.page-header h1 {
		text-align: center;
	}

	/* ヘッダーカバー画像 */
	.cover {
		background-size: cover;
		background-position: center bottom;
		margin-bottom: 4rem;
		background-image: url(images/leaves.webp);
	}

	.page-footer {
		background-size: cover;/* 画面いっぱいの指定 */
		
		background-position: center;
		padding-top: 15rem;
		margin: auto;
	}

	.page-footer h2,
	.page-footer table{
		text-align: center;
	}

	.info {
		text-align: left;
		border-spacing: 0;
		margin:auto;
	}

	.info th,
	.info td {
		border-bottom: 2px solid #ccc;
	}

	.copyright {
		background-color: #432;
		text-align: center;
		padding: 2rem 0;
		margin-top: 6rem;
		color: #fff;
	}
}
